<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="application.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>All schedules</h1>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Day</th>
          <th>Start At</th>
          <th>End At</th>
        </tr>
      </thead>
      <tbody>
        <% for(let index = 0; index < schedules.length; index++) { %>

        <tr>
          <td>
            <%= schedules[index].firstname %> <%= schedules[index].lastname %>
          </td>
          <td><%= schedules[index].day %></td>
          <td><%= schedules[index].start_time %></td>
          <td><%= schedules[index].end_time %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <p></p>
    <div>
      <input type="submit" id="clickAddSchedule" value="Add Schedule" />
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
      const footerclass = document.querySelector("footer");
      footerclass.className = "absolutefooter";
      function openAddSchedule() {
        window.location = "/new";
      }
      document
        .getElementById("clickAddSchedule")
        .addEventListener("click", openAddSchedule);
    </script>
  </body>
</html>
