<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="application.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>All users</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <% for(let index = 0; index < users.length; index++) { %>

        <tr>
          <td><%= users[index].firstname %></td>
          <td><%= users[index].lastname %></td>
          <td><%= users[index].email %></td>
          <td><%= users[index].password %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
