<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="application.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>All users</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <% for(let index = 0; index < users.length; index++) { %>

        <tr>
          <td><%= users[index].firstname %></td>
          <td><%= users[index].lastname %></td>
          <td><%= users[index].email %></td>
          <td><%= users[index].password %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <p></p>
    <div><input type="submit" id="clickAddUser" value="Add User" /></div>
    <form
      class="input-users"
      id="input-users"
      action="/users"
      method="POST"
      onsubmit="submitUsers()"
    >
      <h1>Add user</h1>
      <div>
        <label for="fistname">First Name: *</label>
        <input id="firstname" type="text" name="firstname" required />
      </div>
      <div>
        <label for="lastname">Last Name: *</label>
        <input id="lastname" type="text" name="lastname" required />
      </div>
      <div>
        <label for="email">Email: *</label>
        <input id="email" type="text" name="email" required />
      </div>
      <div>
        <label for="password">Password: *</label>
        <input id="password" type="text" name="password" required />
      </div>
      <input type="submit" value="Submit" />
    </form>
    <%- include('../partials/footer.ejs') %>
    <script>
      const footerclass = document.querySelector("footer");
      footerclass.className = "absolutefooter";
      function changeDisplay() {
        document.getElementById("input-users").style.display = "block";
        document.getElementById("clickAddUser").style.display = "none";
        footerclass.className = "relativefooter";
      }

      function submitUsers() {
        document.getElementById("input-users").style.display = "none";
        document.getElementById("clickAddUser").style.display = "block";
        footerclass.className = "absolutefooter";
      }

      document
        .getElementById("clickAddUser")
        .addEventListener("click", changeDisplay);
    </script>
  </body>
</html>
